@use 'abstracts/colors';
@use 'abstracts/fonts';

* {
  font-family: fonts.$font-stack;
}

body {
  background-color: colors.$dark-secondary;
  color: colors.$font-primary;
  font-size: fonts.$font-size;
  a {
    color: colors.$dark-primary;
  }
}

//Footer Component
.footer__contents {
  background-color: colors.$dark-primary;
  color: colors.$font-primary;
  font-size: fonts.$font-size;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;

  .footer__icons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
  }
}

.disclaimer__content {
  background-color: colors.$dark-primary;
  // background-color: colors.$dark-secondary;
  display: flex;
  .disclaimer__text {
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    font-size: 10px;
    max-width: 75%;
    color: white;
    padding-bottom: 12px;
  }
}

// NavBar Component
.navbar {
  background-color: colors.$dark-primary;
  height: 10vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  button {
    border: none;
    outline: none;
  }

  button.navbar-toggler:focus {
    outline: 1px none !important;
    box-shadow: none !important;
  }

  .brand__name {
    font-weight: fonts.$font-weight;
    color: colors.$font-primary;
    display: flex;
    padding-left: 45px;
  }
}
