// Dark theme colors
$dark-primary: #1f2f35;
$dark-secondary: #2b4148;

// font colors
$font-primary: #f6fefe;
$font-secondary: #c3f8f8;

//text link primary color
$link-primary: #19e0ff;

// sidebar color
$sidebar-primary: #92b4be;
$sidebar-secondary: #d1e7eb;
$sidebar-font-primary: #0a444d;
