@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

$font-stack: 'Poppins', sans-serif;
$font-size: 1.25rem;
$font-weight: 400;

$landing__font-size: 4.2rem;
$landing__font-weight: 700;
$landing__line-height: 70px;

$landingp__font-size: 18px;
$landingp__line-height: 25px;
$landingp__font-weight: 300;

//sidebar Cities
