@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #2b4148;
  color: #f6fefe;
  font-size: 1.25rem;
}
body a {
  color: #1f2f35;
}

.footer__contents {
  background-color: #1f2f35;
  color: #f6fefe;
  font-size: 1.25rem;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}
.footer__contents .footer__icons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: auto;
}

.disclaimer__content {
  background-color: #1f2f35;
  display: flex;
}
.disclaimer__content .disclaimer__text {
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
  font-size: 10px;
  max-width: 75%;
  color: white;
  padding-bottom: 12px;
}

.navbar {
  background-color: #1f2f35;
  height: 10vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.navbar button {
  border: none;
  outline: none;
}
.navbar button.navbar-toggler:focus {
  outline: 1px none !important;
  box-shadow: none !important;
}
.navbar .brand__name {
  font-weight: 400;
  color: #f6fefe;
  display: flex;
  padding-left: 45px;
}
